<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Infocorp - Formulário de inscrição para programa de trainee</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <a href="/">
        <img src="../images/infocorp_logo.png">    
      </a>
    </header>
    <?php if (!empty($flash['error'])):?>
    <div class="alert alert-error"><?php echo $flash['error']?></div>
  <?php endif;?>
  <h1>Preencha o formulário com seus dados pessoais</h1>
  <form class="form-horizontal" action="./form" method="POST" enctype="multipart/form-data">
    <div class="control-group">
      <label for="name" class="control-label">Nome:</label>
      <div class="controls">
        <input type="text" name="nome" required>
      </div>
    </div>
    <div class="control-group">
      <label for="email" class="control-label">Email:</label>
      <div class="controls">
        <input type="text" name="email" required>
      </div>
    </div>
    <div class="control-group">
      <label for="telefone" class="control-label">Telefone:</label>
      <div class="controls">
        <input type="text" name="telefone" required>
      </div>
    </div>
    <div class="control-group">
      <label for="curso" class="control-label">Curso:</label>
      <div class="controls">
        <select name="curso">
          <option value="SI">Sistemas de informacao</option>
          <option value="CO">Ciencias da computacao</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="pontosFracos" class="control-label">Pontos Fracos:</label>
      <div class="controls">
        <textarea name="pontosFracos" rows="7"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label for="pontosFortes" class="control-label">Pontos Fortes:</label>
      <div class="controls">
        <textarea name="pontosFortes" rows="7"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label for="experiencia" class="control-label">Experiencia:</label>
      <div class="controls">
        <textarea name="experiencia" rows="7"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label for="area" class="control-label">Area de preferencia:</label>
      <div class="controls">
        <select name="area">
          <option value="Administracao">Administracao</option>
          <option value="Desenvolvimento">Desenvolvimento</option>
          <option value="Treinamento">Treinamento</option>
          <option value="Comercial">Comercial</option>
          <option value="Relacoes Humanas">Relacoes Humanas</option>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
  </form>
  <footer>Infocoorp - 2013</footer>
</div>
</body>
</html>